@media screen and (min-width: 601px) {
  #HeaderFood h1 {
    font-size: 6vw;
  }
  #HeaderFood h2 {
    font-size: 2vw;
    color: grey;
  }
}
@media screen and (max-width: 600px) {
  #HeaderFood h1 {
    font-size: 3em;
  }
  #HeaderFood h2 {
    font-size: 2em;
    color: grey;
  }
}
#HeaderFood {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
}
#HeaderFood img {
  width: 12vw;
  height: 12vw;
  margin-left: -8vw;
}
.handleHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.profileHolder {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
